<template>
  <div id="app">
    <!-- <ul>
      <Item v-for="item in data" :key="item.id" @change="onChange" :item="item"/>
    </ul> -->
    <Users :users="users" />
  </div>
</template>

<script>

// import Item from './components/Item.vue';
// import data from "./data.js";
import Users from './components/Users.vue';
import DataFetcher from './DataFetcher.js';

const dataFetcher = new DataFetcher();

export default {
  name: "app",
  components: {
    // HelloWorld
    // Item,
    Users,
  },
  // data() {
  //   return {
  //     data
  //   };
  // },
  data() {
    return {
      users: [],
    }
  },
  methods: {
    // onChange(item) {
    //   console.log(item);
    // }
  },
  // beforeMount() {
  //   this.ts = Date.now();
  // },
  mounted() {
    console.log('mounted', Date.now() - this.ts);
    dataFetcher.onChange(users => this.users = users);
    this.users = dataFetcher.getAll();
  },
  beforeUpdate() {
    this.ts = Date.now();
  },
  updated() {
    console.log('updated:', Date.now() - this.ts);
  }
};
</script>

<style>
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
</style>
