<!--The content below is only a placeholder and can be replaced.-->
<div>
  <app-users [users]="users"></app-users>
  <!--<ul>-->
    <!--<app-item *ngFor="let item of data" [item]="item" (someevent)="onChange($event)"></app-item>-->
    <!--<h1>Hello world</h1>-->
    <!--<li *ngFor="let user of users">-->
      <!--<b>Name: </b>-->
      <!--<span>{{user.name}}</span>-->
      <!--<b>Age: </b>-->
      <!--<span>{{user.age}}</span>-->
    <!--</li>-->
  <!--</ul>-->
</div>
