<template>
  <li>
    <input type="checkbox" :id="item.id" @change="onChange(item)">
    <label :htmlFor="item.id">{{item.text.toUpperCase()}}</label>
  </li>
</template>

<script>
export default {
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  methods: {
    onChange() {
      this.$emit('change', this.item);
    }
  }
};
</script>
