<template>
  <ul>
    <User v-for="user in users" :key="user.id" :user="user" />
  </ul>
</template>


<script>
import User from './User.vue';

export default {
  components: {
    User,
  },
  props: {
    users: {
      type: Array,
      required: true,
    }
  },
  beforeUpdate() {
    this.ts = Date.now();
  },
  updated() {
    console.log('users updated:', Date.now() - this.ts);
  }
}
</script>
