<template>
  <li>
  <b>Name: </b>
  <span>{{user.name}}</span>
  <b>Age: </b>
  <span>{{user.age}}</span>
</li>

</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      required: true,
    }
  }
}
</script>
